<!doctype html>
<html>
  <head>
  	<link rel="stylesheet"  href ="/webjars/purecss/1.0.0/build/pure-min.css">
    <title>TimeSheet</title>
  </head>
  <body>
  <div>
  <form class="pure-form" method="post" action="/timesheet">
  <table class="pure-table">
    <thead>
      <tr>
        <th>Week of</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Total</th>
      </tr>
    </thead>    
    <tbody>    
    	<tr>
        <td><input class="pure-input" placeholder="mm/dd/yyyy" required value="{{ date }}" name="date" type="date"></td>
          <td><input class="pure-input" value="{{ mon }}" name="monHours"  	type="number" min="0" max="24" step="any"></td>
          <td><input class="pure-input" value="{{ tues }}" name="tuesHours" 	type="number" min="0" max="24" step="any"></td>
          <td><input class="pure-input" value="{{ wed }}" name="wedHours"   	type="number" min="0" max="24" step="any"></td>
          <td><input class="pure-input" value="{{ thurs }}" name="thursHours" 	type="number" min="0" max="24" step="any"></td>
          <td><input class="pure-input" value="{{ fri }}" name="friHours" 		type="number" min="0" max="24" step="any"></td>
          <td>{{#sum}}{{ . }}{{/sum}}</td>
      </tr>    
    </tbody>
  </table>
  <br>
  <button class="pure-button pure-button-primary" name="updateOrSubmit" value="update">Update</button>
  <button class="pure-button pure-button-primary" name="updateOrSubmit" value="submit">Submit</button>
  <br>
  </form>
  </div>
  <br>
  <br>
  <div>
  <table class="pure-table">
    <thead>
      <tr>
        <th>Week of</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    {{#hasWeeksOfHours}}
    {{#weeks}}
      <tr>
        <td>{{ date }}</td>
          <td>{{ monHours }}</td>
          <td>{{ tuesHours }}</td>
          <td>{{ wedHours }}</td>
          <td>{{ thursHours }}</td>
          <td>{{ friHours }}</td>
        <td>{{ sum }}</td>
      </tr>
    {{/weeks}}
    {{/hasWeeksOfHours}}
    </tbody>
  </table>
  </div>
  </body>
</html>